<p-panel>
    <p-header>
        <span jhiTranslate="mufFeApp.losObjectSource.detail.title">Object Source</span> {{objectSource.idObjectSource}}
    </p-header>
    <jhi-object-source-view [item]="objectSource" mode="item">
    </jhi-object-source-view>
    <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/object-source', objectSource.idObjectSource, 'edit']"
                    class="btn-primary flat-style-button">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
    </p-footer>    
</p-panel>
