<p-panel>
    <p-header>
        <span jhiTranslate="mufFeApp.ruleType.detail.title">Rule Type</span> {{ruleType.idRuleType}}
    </p-header>
    <jhi-rule-type-view [item]="ruleType" mode="item">
    </jhi-rule-type-view>
    <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/rule-type', ruleType.idRuleType, 'edit']"
                    class="btn-primary flat-style-button">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
    </p-footer>    
</p-panel>
