<p-panel>
    <p-header>
        <span jhiTranslate="mufFeApp.uomType.detail.title">Uom Type</span> {{uomType.idUomType}}
    </p-header>
    <jhi-uom-type-view [item]="uomType" mode="item">
    </jhi-uom-type-view>
    <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/uom-type', uomType.idUomType, 'edit']"
                    class="btn-primary flat-style-button">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
    </p-footer>    
</p-panel>
