<p-panel>
    <p-header>
        <span jhiTranslate="mufFeApp.uom.detail.title">Uom</span> {{uom.idUom}}
    </p-header>
    <jhi-uom-view [item]="uom" mode="item">
    </jhi-uom-view>
    <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/uom', uom.idUom, 'edit']"
                    class="btn-primary flat-style-button">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
    </p-footer>    
</p-panel>
