<div [hidden]="hiddenHeader">
  <ng-container *ngTemplateOutlet="headerViewTemplate; context: {$implicit: item}"></ng-container>
</div>
<ng-container [ngSwitch]="mode">
  <ng-container *ngSwitchCase="'edit'">
    <div [hidden]="hiddenDefaultEdit">
        <div class="form-group row" style="margin: 5px 0;"
        [hidden]="!item.idUom">
            <label class="col-md-2 col-form-label" for="id" jhiTranslate="global.field.id">ID</label>
            <div class="col-md-5">
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="item.idUom" readonly />
            </div>
        </div>

        <div class="form-group row" style="margin: 5px 0;">
            <label class="col-md-2 col-form-label" jhiTranslate="mufFeApp.uom.description" for="field_description">Description</label>
            <div class="col-md-5">
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="item.description"  />
        </div>
    </div>

        <div class="form-group row" style="margin: 5px 0;">
            <label class="col-md-2 col-form-label" jhiTranslate="mufFeApp.uom.abbreviation" for="field_abbreviation">Abbreviation</label>
            <div class="col-md-5">
            <input type="text" class="form-control" name="abbreviation" id="field_abbreviation"
                [(ngModel)]="item.abbreviation"  />
        </div>
    </div>

        <div class="form-group row" style="margin: 5px 0;">
            <label class="col-md-2 col-form-label" jhiTranslate="mufFeApp.uom.uomType" for="field_uomType">Uom Type</label>
            <div class="col-md-5">
            <select class="form-control form-control-sm" id="field_uomType" name="uomType" [(ngModel)]="item.uomTypeId" [disabled]="uomTypeId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="uomTypeOption.idUomType" *ngFor="let uomTypeOption of uomtypes; trackBy: trackUomTypeById">{{uomTypeOption.description}}</option>
            </select>
        </div>
    </div>

    <ng-container *ngTemplateOutlet="editViewTemplate; context: {$implicit: item}">
    </ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="'card'">
    <div [hidden]="hiddenDefaultCard">
        <p-card title="{{item.idUom}}" 
                subtitle="Subtitle" 
                styleClass="col-sm-4">
            <p-header>
            </p-header>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
            </div>
            <p-footer>
                <button pButton type="button" 
                        label="Save" 
                        icon="pi pi-check" 
                        style="margin-right: .25em">
                </button>
                <button pButton type="button" 
                        label="Cancel" 
                        icon="pi pi-times" 
                        class="ui-button-secondary">
                </button>
            </p-footer>
        </p-card>
    </div>
    <ng-container *ngTemplateOutlet="cardViewTemplate; context: {$implicit: item}">
    </ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="'item'">
    <div [hidden]="hiddenDefaultItem">
        <div class="ui-inputgroup ui-group-margin-adjust">
            <span class="col-sm-2 ui-group-left-margin-adjust" jhiTranslate="mufFeApp.uom.description">Description</span>
            <span class="form-control">{{uom.description}}</span>
        </div>
        <div class="ui-inputgroup ui-group-margin-adjust">
            <span class="col-sm-2 ui-group-left-margin-adjust" jhiTranslate="mufFeApp.uom.abbreviation">Abbreviation</span>
            <span class="form-control">{{uom.abbreviation}}</span>
        </div>
        <div class="ui-inputgroup ui-group-margin-adjust">
            <span  class="col-sm-2 ui-group-left-margin-adjust" jhiTranslate="mufFeApp.uom.uomType">Uom Type</span>
            <div *ngIf="uom.uomTypeId">
                <a [routerLink]="['/uom-type', uom.uomTypeId, 'view']"  class="form-control">{{uom.uomTypeDescription}}</a>
            </div>
        </div>
    </div>
    <ng-container *ngTemplateOutlet="itemViewTemplate; context: {$implicit: item}">
    </ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="'simple'">
    <div [hidden]="hiddenDefaultSimple">
        <!-- <table class="table table-striped">
            <tbody>                 
                <tr>
                    <td><span jhiTranslate="mufFeApp.uom.description">{{uom.description}}</span></td>
                    <td>{{uom.description}}</td>
                </tr>                        
                <tr>
                    <td><span jhiTranslate="mufFeApp.uom.abbreviation">{{uom.abbreviation}}</span></td>
                    <td>{{uom.abbreviation}}</td>
                </tr>                        
                <tr>
                    <td><span  class="col-sm-2 ui-group-left-margin-adjust" jhiTranslate="mufFeApp.uom.uomType">Uom Type</span></td>
                    <td>
                        <div *ngIf="uom.uomTypeId">
                            <a [routerLink]="['/uom-type', uom.uomTypeId, 'view']">{{uom.uomTypeId}}</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table> -->
    </div>
    <ng-container *ngTemplateOutlet="simpleViewTemplate; context: {$implicit: item}">
    </ng-container>
  </ng-container>
</ng-container>
<div [hidden]="hiddenFooter">
  <ng-container *ngTemplateOutlet="footerViewTemplate; context: {$implicit: item}"></ng-container>
</div>
