<div [hidden]="hiddenHeader">
  <ng-container *ngTemplateOutlet="headerViewTemplate; context: {$implicit: item}"></ng-container>
</div>
<ng-container [ngSwitch]="mode">
  <ng-container *ngSwitchCase="'edit'">
    <div [hidden]="hiddenDefaultEdit">
        <div class="form-group" [hidden]="!item.idProduct">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="item.idProduct" readonly />
        </div>
        <div class="form-group row" style="margin: 5px 0;">
            <label class="col-md-2 col-form-label" jhiTranslate="mufFeApp.losGood.name" for="field_name"> Name </label>
            <div class="col-md-5">
                <input type="text" class="form-control form-control-sm" name="name" id="field_name"
                [(ngModel)]="item.name"  />
            </div>
        </div>

        <div class="form-group row" style="margin: 5px 0;">
            <label class="col-md-2 col-form-label" jhiTranslate="mufFeApp.losGood.dateIntroduction" for="field_dateIntroduction">Date Introduction</label>
            <div class="input-group col-md-5">
                <p-calendar inputId="field_dateIntroduction" name="input_dateIntroduction" [(ngModel)]="item.dateIntroduction"
                    dateFormat="dd-mm-yy" [showTime]="true" hourFormat="24" [showSeconds]="true"
                    [showIcon]="true" [hideOnDateTimeSelect]="true"></p-calendar>
            </div>
        </div>

        <div class="form-group row" style="margin: 5px 0;">
            <label class="col-md-2 col-form-label" jhiTranslate="mufFeApp.losGood.dateDiscontinue" for="field_dateDiscontinue">Date Discontinue</label>
            <div class="input-group col-md-5">
                <p-calendar inputId="field_dateDiscontinue" name="input_dateDiscontinue" [(ngModel)]="item.dateDiscontinue"
                    dateFormat="dd-mm-yy" [showTime]="true" hourFormat="24" [showSeconds]="true"
                    [showIcon]="true" [hideOnDateTimeSelect]="true"></p-calendar>
            </div>
        </div>

        <div class="form-group row" style="margin: 5px 0;">
            <label class="col-md-2 col-form-label" jhiTranslate="mufFeApp.losGood.priceType" for="field_priceType">Price Type</label>
            <div class="col-md-5">
                <input currencyMask class="form-control form-control-sm" name="priceType" id="field_priceType"
                [(ngModel)]="item.priceType"
                [options]="{ prefix: '', thousands: '.', decimal: ',', precision: '0' }"
                 />
            </div>
        </div>

        <div class="form-group row" style="margin: 5px 0;">
            <label class="col-md-2 col-form-label" jhiTranslate="mufFeApp.losGood.productType" for="field_productType">Product Type</label>
            <div class="col-md-5">
                <select class="form-control form-control-sm" id="field_productType" name="productType" [(ngModel)]="item.productTypeId" [disabled]="productTypeId" >
                    <option [ngValue]="null"></option>
                    <option [ngValue]="productTypeOption.idProductType" *ngFor="let productTypeOption of producttypes; trackBy: trackProductTypeById">{{productTypeOption.description}}</option>
                </select>
            </div>
        </div>

        <div class="form-group row" style="margin: 5px 0;">
            <label class="col-md-2 col-form-label" jhiTranslate="mufFeApp.losGood.uom" for="field_uom">Uom</label>
            <div class="col-md-5">
                <select class="form-control form-control-sm" id="field_uom" name="uom" [(ngModel)]="item.uomId" [disabled]="uomId" >
                    <option [ngValue]="null"></option>
                    <option [ngValue]="uomOption.idUom" *ngFor="let uomOption of uoms; trackBy: trackUomById">{{uomOption.description}}</option>
                </select>
            </div>
        </div>

        <div class="form-group row" style="margin: 5px 0;">
            <label class="col-md-2 col-form-label" jhiTranslate="mufFeApp.losGood.taxable" for="field_taxable">Taxable</label>
            <div class="form-check col-md-5">
                <label class="col-md-2 form-check-label mb-2">
                    <p-checkbox name="input_taxable" styleClass="form-check-input"
                        [(ngModel)]="item.taxable" binary="true">
                    </p-checkbox>
                </label>
            </div>
        </div>

        <div class="form-group row" style="margin: 5px 0;">
            <label class="col-md-2 col-form-label" jhiTranslate="mufFeApp.losGood.serialized" for="field_serialized">Serialized</label>
            <div class="form-check col-md-5">
                <label class="col-md-2 form-check-label mb-2">
                    <p-checkbox name="input_serialized" styleClass="form-check-input"
                        [(ngModel)]="item.serialized" binary="true">
                    </p-checkbox>
                </label>
            </div>
        </div>

    </div>
    <ng-container *ngTemplateOutlet="editViewTemplate; context: {$implicit: item}">
    </ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="'card'">
    <div [hidden]="hiddenDefaultCard">
        <p-card title="{{item.idProduct}}" 
                subtitle="Subtitle" 
                styleClass="col-sm-4">
            <p-header>
            </p-header>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
            </div>
            <p-footer>
                <button pButton type="button" 
                        label="Save" 
                        icon="pi pi-check" 
                        style="margin-right: .25em">
                </button>
                <button pButton type="button" 
                        label="Cancel" 
                        icon="pi pi-times" 
                        class="ui-button-secondary">
                </button>
            </p-footer>
        </p-card>
    </div>
    <ng-container *ngTemplateOutlet="cardViewTemplate; context: {$implicit: item}">
    </ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="'item'">
    <div [hidden]="hiddenDefaultItem">
        <div class="ui-inputgroup ui-group-margin-adjust">
            <span class="col-sm-2 ui-group-left-margin-adjust" jhiTranslate="mufFeApp.losGood.name">Name</span>
            <span class="form-control">{{good.name}}</span>
        </div>
        <div class="ui-inputgroup ui-group-margin-adjust">
            <span class="col-sm-2 ui-group-left-margin-adjust" jhiTranslate="mufFeApp.losGood.dateIntroduction">Date Introduction</span>
            <span class="form-control">{{good.dateIntroduction}}</span>
        </div>
        <div class="ui-inputgroup ui-group-margin-adjust">
            <span class="col-sm-2 ui-group-left-margin-adjust" jhiTranslate="mufFeApp.losGood.dateDiscontinue">Date Discontinue</span>
            <span class="form-control">{{good.dateDiscontinue}}</span>
        </div>
        <div class="ui-inputgroup ui-group-margin-adjust">
            <span class="col-sm-2 ui-group-left-margin-adjust" jhiTranslate="mufFeApp.losGood.taxable">Taxable</span>
            <span class="form-control">{{good.taxable}}</span>
        </div>
        <div class="ui-inputgroup ui-group-margin-adjust">
            <span class="col-sm-2 ui-group-left-margin-adjust" jhiTranslate="mufFeApp.losGood.priceType">Price Type</span>
            <span class="form-control">{{good.priceType}}</span>
        </div>
        <div class="ui-inputgroup ui-group-margin-adjust">
            <span class="col-sm-2 ui-group-left-margin-adjust" jhiTranslate="mufFeApp.losGood.serialized">Serialized</span>
            <span class="form-control">{{good.serialized}}</span>
        </div>
        <div class="ui-inputgroup ui-group-margin-adjust">
            <span  class="col-sm-2 ui-group-left-margin-adjust" jhiTranslate="mufFeApp.losGood.productType">Product Type</span>
            <div *ngIf="good.productTypeId">
                <a [routerLink]="['/product-type', good.productTypeId, 'view']"  class="form-control">{{good.productTypeDescription}}</a>
            </div>
        </div>
        <div class="ui-inputgroup ui-group-margin-adjust">
            <span  class="col-sm-2 ui-group-left-margin-adjust" jhiTranslate="mufFeApp.losGood.uom">Uom</span>
            <div *ngIf="good.uomId">
                <a [routerLink]="['/uom', good.uomId, 'view']"  class="form-control">{{good.uomDescription}}</a>
            </div>
        </div>
    </div>
    <ng-container *ngTemplateOutlet="itemViewTemplate; context: {$implicit: item}">
    </ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="'simple'">
    <div [hidden]="hiddenDefaultSimple">
        <!-- <table class="table table-striped">
            <tbody>                 
                <tr>
                    <td><span jhiTranslate="mufFeApp.good.name">{{good.name}}</span></td>
                    <td>{{good.name}}</td>
                </tr>                        
                <tr>
                    <td><span jhiTranslate="mufFeApp.good.dateIntroduction">{{good.dateIntroduction}}</span></td>
                    <td>{{good.dateIntroduction}}</td>
                </tr>                        
                <tr>
                    <td><span jhiTranslate="mufFeApp.good.dateDiscontinue">{{good.dateDiscontinue}}</span></td>
                    <td>{{good.dateDiscontinue}}</td>
                </tr>                        
                <tr>
                    <td><span jhiTranslate="mufFeApp.good.taxable">{{good.taxable}}</span></td>
                    <td>{{good.taxable}}</td>
                </tr>                        
                <tr>
                    <td><span jhiTranslate="mufFeApp.good.priceType">{{good.priceType}}</span></td>
                    <td>{{good.priceType}}</td>
                </tr>                        
                <tr>
                    <td><span jhiTranslate="mufFeApp.good.serialized">{{good.serialized}}</span></td>
                    <td>{{good.serialized}}</td>
                </tr>                        
                <tr>
                    <td><span  class="col-sm-2 ui-group-left-margin-adjust" jhiTranslate="mufFeApp.losGood.productType">Product Type</span></td>
                    <td>
                        <div *ngIf="good.productTypeId">
                            <a [routerLink]="['/product-type', good.productTypeId, 'view']">{{good.productTypeId}}</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><span  class="col-sm-2 ui-group-left-margin-adjust" jhiTranslate="mufFeApp.losGood.uom">Uom</span></td>
                    <td>
                        <div *ngIf="good.uomId">
                            <a [routerLink]="['/uom', good.uomId, 'view']">{{good.uomId}}</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table> -->
    </div>
    <ng-container *ngTemplateOutlet="simpleViewTemplate; context: {$implicit: item}">
    </ng-container>
  </ng-container>
</ng-container>
<div [hidden]="hiddenFooter">
  <ng-container *ngTemplateOutlet="footerViewTemplate; context: {$implicit: item}"></ng-container>
</div>
