<p-panel>
    <p-header>
        <span jhiTranslate="mufFeApp.partyClassification.detail.title">Party Classification</span> {{partyClassification.idClassification}}
    </p-header>
    <jhi-party-classification-view [item]="partyClassification" mode="item">
    </jhi-party-classification-view>
    <p-footer>
            <button type="submit"
                    (click)="previousState()"
                    class="btn-info flat-style-button">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/party-classification', partyClassification.idClassification, 'edit']"
                    class="btn-primary flat-style-button">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
    </p-footer>    
</p-panel>
